.sectioner {
  display: grid;
  grid-template-columns: 4fr 8fr;
  justify-content: center;
  align-items: center;

  /* overflow: hidden; */
}

.sectioner nav {
  background-color: red;
}

.sectioner nav ul {
  list-style: none;
}

.sectioner article {
  width: 100%;
  background-color: blue;

  height: 50vw;
  overflow-y: auto;
}
